**/gen/
**/edmx/
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

.env
*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
.cdsrc.json
.env
**/.env
srv/test/.env
srv/src/test/http/.env
# added by cds
.cdsrc-private.json
.cpi-message-viewer_mta_build_tmp/cpi-message-viewer/data.zip
app/message-viewer/dist/message-viewer.zip
resources/message-viewer.zip
mta-env-gulf-btp-dev-jjn0jnvr.mtaext
mta-env-gulf-gedho-btpea-dev-sapcloud.mtaext
